<html>
  <head>
    <title>Desafio 01 || Homepage</title>
  </head>
  <body>
    <form method="POST" action="/check">
      <input type="text" name="name" />
      <input type="text" name="bornDate" />
      <button type="submit">Verificar</button>
    </form>
  </body>
</html>
